.form-container{
    border: 1px solid black;
    border-radius: 10px;
    padding:20px;
}

.form-container *{
    font-family: Arial, Helvetica, sans-serif;
}

.form-container h1{
    font-size: 5vmin;
    margin: 0 0 20px 0;
}

.bank-form .form-detail{
    display: flex;
    flex-direction: column;
}

.bank-form input{
    padding:10px;
    margin:5px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    
}


/* MODALS START */
.errPassword-modal, .userCreate-modal, .errcontact-modal, .errDeposit-modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 210px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.errPassword-content, .userCreate-content, .errContact-content, .errDeposit-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
    border-radius: 10px;
    text-align: center;
}

.errPassword-content, .errContact-content, .errDeposit-content{
    color:white;
    background-color: rgb(255, 169, 44);
    width: 45%;
}

.userCreate-content{
    color:white;
    background-color: rgb(47, 184, 134);
    width: 30%;
}
/* MODALS END */

@media screen and (max-width: 599px){

    .errPassword-content, .errContact-content, .errDeposit-content{
        color:white;
        background-color: rgb(255, 169, 44);
        width: 70%;
    }
    .userCreate-content{
        color:white;
        background-color: rgb(47, 184, 134);
        width: 60%;
    }
}
