
.dashboard-content-detail{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.dashboard-content-detail .user-description{
    height: 100px;
    width: 100%;
    margin:30px;
    background-color: #e59e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color:white;
}

.user-description .amount{
    font-size: 6vmin;
}

.user-description span{
    font-size: 2.7vmin;
}




/* main dashboard cards */
.withdraw-illustration-photo,
.deposit-illustration-photo,
.bank-transfer-illustration-photo,
.expenses-illustration-photo {
    width: 7rem;
    align-items: center;
}


.user-main-dashboard-content-transactions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.withdraw-item,
.deposit-item,
.bank-transfer-item,
.expenses-item {
    display: flex;
    place-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid none;
    background-color: #e59e50;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.user-main-dashboard-content-transactions-container
.withdraw-item,
.deposit-item,
.bank-transfer-item,
.expenses-item {
    width: 200px;
    height: 150px;
}

.withdraw-header-text,
.deposit-header-text,
.bank-transfer-header-text,
.expenses-header-text {
    font-weight: 600;
}


@media screen and (max-width: 995px){
    .dashboard-content-detail .user-description{
        width: 90%;    
    }

}

@media screen and (max-width: 399px){
    
    .user-description .amount{
        font-size: 8vmin;
    }

    .user-description span{
        font-size: 3.5vmin;
    }


}