*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: teal;
}

h1{
    color:white;
    margin-top: 10px;
}

img{
    height: 3rem;
    width: 3rem;
    margin:.5rem 0 0 0;
}

//VARIABLE
$bgDarkColor : rgb(112, 162, 163);
$bgLightColor: rgb(177, 228, 184);

//INHERITANCE
%boardLightColor{
    background:rgb(177, 228, 184);
    width: 4rem;
    height: 4rem;
    
}

%boardDarkColor{
    background:rgb(112, 162, 163);
    width: 4rem;
    height: 4rem;
}

%LayerDesign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


//NESTING
.main{

    max-width: 100%;
    max-height: 100%;
    margin:1%;
    height: 90vh;
    

    .first-layer {
        @extend %LayerDesign;
        margin-top: 3%;
    
            .box:nth-child(1){
                @extend %boardLightColor;
            }
            .box:nth-child(2){
                @extend %boardDarkColor;
            }
            .box:nth-child(3){
                @extend %boardLightColor;
            }
            .box:nth-child(4){
                @extend %boardDarkColor;
            }
            .box:nth-child(5){
                @extend %boardLightColor;
            }
            .box:nth-child(6){
                @extend %boardDarkColor;
            }
            .box:nth-child(7){
                @extend %boardLightColor;
            }
            .box:nth-child(8){
                @extend %boardDarkColor;
            }
    }


    .second-layer {

        @extend %LayerDesign;
    
            .box:nth-child(1){
                @extend %boardDarkColor;
            }
            .box:nth-child(2){
                @extend %boardLightColor;
            }
            .box:nth-child(3){
                @extend %boardDarkColor;
            }
            .box:nth-child(4){
                @extend %boardLightColor;
            }
            .box:nth-child(5){
                @extend %boardDarkColor;
            }
            .box:nth-child(6){
                @extend %boardLightColor;
            }
            .box:nth-child(7){
                @extend %boardDarkColor;
            }
            .box:nth-child(8){
                @extend %boardLightColor;
            }
    }

    .third-layer {

        @extend %LayerDesign;
    
            .box:nth-child(1){
                @extend %boardLightColor;
            }
            .box:nth-child(2){
                @extend %boardDarkColor;
            }
            .box:nth-child(3){
                @extend %boardLightColor;
            }
            .box:nth-child(4){
                @extend %boardDarkColor;
            }
            .box:nth-child(5){
                @extend %boardLightColor;
            }
            .box:nth-child(6){
                @extend %boardDarkColor;
            }
            .box:nth-child(7){
                @extend %boardLightColor;
            }
            .box:nth-child(8){
                @extend %boardDarkColor;
            }
    }

    .fourth-layer {

        @extend %LayerDesign;
    
            .box:nth-child(1){
                @extend %boardDarkColor;
            }
            .box:nth-child(2){
                @extend %boardLightColor;
            }
            .box:nth-child(3){
                @extend %boardDarkColor;
            }
            .box:nth-child(4){
                @extend %boardLightColor;
            }
            .box:nth-child(5){
                @extend %boardDarkColor;
            }
            .box:nth-child(6){
                @extend %boardLightColor;
            }
            .box:nth-child(7){
                @extend %boardDarkColor;
            }
            .box:nth-child(8){
                @extend %boardLightColor;
            }
    }

    .fifth-layer {

        @extend %LayerDesign;
    
            .box:nth-child(1){
                @extend %boardLightColor;
            }
            .box:nth-child(2){
                @extend %boardDarkColor;
            }
            .box:nth-child(3){
                @extend %boardLightColor;
            }
            .box:nth-child(4){
                @extend %boardDarkColor;
            }
            .box:nth-child(5){
                @extend %boardLightColor;
            }
            .box:nth-child(6){
                @extend %boardDarkColor;
            }
            .box:nth-child(7){
                @extend %boardLightColor;
            }
            .box:nth-child(8){
                @extend %boardDarkColor;
            }
    }

    .sixth-layer {

        @extend %LayerDesign;
    
            .box:nth-child(1){
                @extend %boardDarkColor;
            }
            .box:nth-child(2){
                @extend %boardLightColor;
            }
            .box:nth-child(3){
                @extend %boardDarkColor;
            }
            .box:nth-child(4){
                @extend %boardLightColor;
            }
            .box:nth-child(5){
                @extend %boardDarkColor;
            }
            .box:nth-child(6){
                @extend %boardLightColor;
            }
            .box:nth-child(7){
                @extend %boardDarkColor;
            }
            .box:nth-child(8){
                @extend %boardLightColor;
            }
    }

    .seventh-layer {

        @extend %LayerDesign;
    
            .box:nth-child(1){
                @extend %boardLightColor;
            }
            .box:nth-child(2){
                @extend %boardDarkColor;
            }
            .box:nth-child(3){
                @extend %boardLightColor;
            }
            .box:nth-child(4){
                @extend %boardDarkColor;
            }
            .box:nth-child(5){
                @extend %boardLightColor;
            }
            .box:nth-child(6){
                @extend %boardDarkColor;
            }
            .box:nth-child(7){
                @extend %boardLightColor;
            }
            .box:nth-child(8){
                @extend %boardDarkColor;
            }
    }

    .eight-layer {

        @extend %LayerDesign;
    
            .box:nth-child(1){
                @extend %boardDarkColor;
            }
            .box:nth-child(2){
                @extend %boardLightColor;
            }
            .box:nth-child(3){
                @extend %boardDarkColor;
            }
            .box:nth-child(4){
                @extend %boardLightColor;
            }
            .box:nth-child(5){
                @extend %boardDarkColor;
            }
            .box:nth-child(6){
                @extend %boardLightColor;
            }
            .box:nth-child(7){
                @extend %boardDarkColor;
            }
            .box:nth-child(8){
                @extend %boardLightColor;
            }
    }


    //ANIMATION
    .second-layer{
        .box:nth-child(5){
            img{
            animation-name: whitePawnMove;
            animation-fill-mode: forwards;
            animation-timing-function:ease;
            animation-duration: 2s;
            animation-delay: 1s;
            position:relative;
            }
        }
    }

    .seventh-layer{
        .box:nth-child(5){
            img{
            animation : blackPawnMove 2s ease 3s normal forwards;
            position: relative;
            }
        }
    }

    .first-layer{
        .box:nth-child(7){
            img{
            animation: whiteKnightMove 2s ease 5s normal forwards;
            position: relative;
            }
        }
    }

    .eight-layer{
        .box:nth-child(6){
            img{
            animation: blackBishopMove 2s ease 7s normal forwards;
            position: relative;
            }
        }
    }

    .second-layer{
        .box:nth-child(3){
            img{
            animation: whitePawn2Move 2s ease 9s normal forwards;
            position:relative;
            }
        }
    }

    .eight-layer{
        .box:nth-child(4){
            img{
            animation: 
                blackQueenMove 2s ease 11s normal forwards,
                blackQueen2ndMove 2s ease 15s normal forwards;

            position:relative;
            }
        }
    }

    .first-layer{
        .box:nth-child(2){
            img{
            animation: whiteKnight2Move 2s ease 13s normal forwards;
            position: relative;
            }
        }
    }


    @keyframes whitePawnMove {
        0% {background: red; top:0px;}
        100% {background: $bgDarkColor; top:8rem;}
    }

    @keyframes blackPawnMove {
        0% {background: red; bottom:0px;}
        100% {background: $bgLightColor; bottom:8rem;}
    }
    
    @keyframes whiteKnightMove {
        0% {background: red; top:0px;}
        100% {background: $bgDarkColor; transform: translate(4rem, 8rem);}
    }

    @keyframes blackBishopMove {
        0% {background: red; bottom:0px;}
        100% {background: $bgLightColor; transform: translate(-11.6rem, -11.9rem);}
    }

    @keyframes whitePawn2Move {
        0% {background: red; top:0px;}
        100% {background: $bgDarkColor; top:8rem;}
    }

    @keyframes blackQueenMove {
        0% {background: red; top:0px;}
        100% {background: $bgLightColor; transform: translate(8rem, -8rem);}
    }

    @keyframes whiteKnight2Move {
        0% {background: red; top:0px;}
        100% {background: $bgLightColor; transform: translate(4rem, 8rem);}
    }

    @keyframes blackQueen2ndMove {
        0% {background: red; bottom:0px;}
        100% {background: $bgLightColor; bottom:16rem;}
    }
    


}
